*{
    margin: 0;
    padding: 0;
}

body{
    width: 120rem;  
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;
}

.sector-2{
    display: flex;  
    flex-direction: row;  
    gap: 9.9375rem;  
}

.text-wrapper-sector2{
    margin-top: 13.2188rem;
    max-width: 33.75rem;
    max-height: 29.8125rem;
}

.sector2h2{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 35.77px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-top: 1rem;
}

.sector2p{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16.59px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #425466;
    margin-top: 1.5rem;
}

.sector2-arrow{
    position: absolute;
    top: 10px;
    right: 17px;
}

.sector2-btn{
    position: relative;
    padding: 3px 26.8px 6px 16px;
    background: #635BFF;
    border: 1px;
    border-radius: 16.5px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13,48px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
    margin-top: 1.6875rem;
}

.sector2-links-header{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14.18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-top: 3.5rem;
}

.sector2-links-1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
margin-top: 0.5rem;

}

.sector2-links-1 > a{
    text-decoration: none;
}

.sector2-links-2{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-top: 0.25rem;
}

.sector2-links-2 > a{
    text-decoration: none;
}

.sector2-links-3{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-top: 0.25rem;
}

.sector2-links-3 > a{
    text-decoration: none;
}

.payment-container{
    position: relative;
    width: 331px;
    height: 516.74px;
    border: 1.19px solid #C4CCD8;
    background: radial-gradient(#00000000, #cbd6e036);
    background-color: #fff;
    border-radius: 9.53px;
    margin-top: 8.8663rem;
}

.payment-sms1{
    position: relative;
    overflow: hidden;
    width: 290.52px;
    height: 73.82px;
    left: 21px;
    top: 17px;
    background-color: #fff;
    z-index: 2;
    border-radius: 9.53px;
    box-shadow: 0px 3.57Px 8.33px -3.57px;
}

.back-payment-sms{
    width: 261.47px;
    position: absolute;
    height: 66.44px;
    top: 31px;
    opacity: 80%;
    border: 1px;
    border-radius: 9.53px;
    box-shadow: 0px 3.57Px 8.33px -3.57px;
    left: 33px;
    z-index: 1;
}

.sms-num{
    position: absolute;
    left: 13px;
    top: 13px;
    font-size: 13.84px;
    font-weight: 500;
    line-height: 14.29px;
    letter-spacing: 0.23px;
    color: #3f4b66;
}

.name-from {
    position: absolute;
    left: 65px;
    top: 13px;
    font-size: 12.95px;
    font-weight: 500;
    line-height: 14.29px;
    letter-spacing: 0.23px;
    color: #727F96;
}

.processing-border{
    position: absolute;
    left: 18px;
    top: 42px;
    width: 69.06px;
    height: 23.81px;
    border: 1px;
    border-radius: 4.76px;
    background: #15BE534D;
}

.processing{
    position: absolute;
    bottom: 6px;
    left: 14px;
    font-size: 8.93px;
    font-weight: 500;
    line-height: 14.29px;
    letter-spacing: 0.23px;
    color: #0A2540;
}

.payment-value{
    position: absolute;
    right: 14px;
    top: 28px;
    font-size: 15.76px;
    font-weight: 500;
    line-height: 14.29px;
    color: #3F4B66;
}


.payment-body{
    position: relative;
}

.body-positions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.buyers{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11905.28px;
    background: #0073E6;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13.39px;
    line-height: 23.81px;
    letter-spacing: 0.15px;
    margin-top: 55.27px;
    margin-bottom: 9.52px;
    padding: 2.29px 26.9px;
    outline: 2px dashed lightgrey;
    outline-offset: 2px;
}

.sellers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.29px 10.8px;
    border-radius: 11905.28px;
    background: #0CC2FF;
    margin-top: 6.76px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13.17px;
    line-height: 23.81px;
    letter-spacing: 0.15px;
    outline: 2px dashed lightgrey;
    outline-offset: 2px;
}

.platform{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.29px 23.15px;
    border-radius: 11905.28px;
    background: #3DC9C9;
    margin-bottom: 14.14px;
    margin-top: 3.57px;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12.95px;
    line-height: 23.81px;
    letter-spacing: 0.15px;
    outline: 2px dashed lightgrey;
    outline-offset: 2px;
}

.payment145{
    padding: 3.57px 14.29px 4.76px 14.29px;
    background: #fff;
    box-shadow: 0px 4.52px 8.93px -4.41px;
    border-radius: 11905.28px;
    position: absolute;
    bottom: 78px;
}

.payment45{
    padding: 3.57px 14.29px 4.76px 14.29px;
    background: #fff;
    box-shadow: 0px 4.52px 8.93px -4.41px;
    border-radius: 11905.28px;
    position: absolute;
    right: 26px;
    bottom: 156px;
}

