*{
    margin: 0;
    padding: 0;
}


body{  
    width: 120rem;  
    height: 100%;  
    display: block;  
    align-items: center;  
    justify-content: center;  
} 

/* ///////////////////////////////////////// */
/* ======= Left column [first sector]======= */
/* ///////////////////////////////////////// */
 

.info-wrapper{  
    display: flex;  
    flex-direction: row;
    gap: 9.9375rem;  
    margin-left: 12.5rem;
    max-height: 32.5rem;  
} 

.text-wrapper{ 
    margin-top: 8rem;
    max-width: 33.75rem;
    max-height: 32.5rem;
    margin-left: 12.5rem;
    padding: 0;
}

.modular{
    width: 28.75rem;
    height: auto;
}

.modular>h4{
    font-size: 1.046rem;
    line-height: 1.75rem;
    letter-spacing: 0.013rem;
    font-weight: 500;
    color: #635BFF;

}

.text-wrapper>h2{
    font-size: 3.227rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: #0A2540;
}

.text-wrapper>p{
    font-size: 1.099rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #0A2540;
}

/* ///////////////////////////////////////// */
/* =======Right column [first sector]======= */
/* ///////////////////////////////////////// */

/* //////////////////////////////////////
///////////// first card ////////////////
////////////////////////////////////// */

.card-1-assembled{
    width: 349px;
    height: 215.26px;
    border-radius: 14px;
    position: relative;
    background-color: #000000;
    box-shadow: -2px 2px 73px -14px;
    margin-top: 16.5625rem;
}

.card-1-assembled .kavholm {
    position: absolute;
    right: 0;
    margin-right: 23px;
    margin-top: 27px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: .8px;
    font-size: 18px;
}

.card-1-assembled .visa-balls {
    position: absolute;
    bottom: 16.3px;
    right: 13.5px;
}

.card-1-assembled .commercial {
    position: absolute;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.4px;
    bottom: 74px;
    right: 14px;
    color: #fff;
    font-size: 12px;
}

.card-1-assembled .jane-diaz{
    position: absolute;
    font-family: 'DM Sans';
    font-weight: 500;
    letter-spacing: 0.1px;
    bottom: 26px;
    left: 28px;
    color: #fff;
    font-size: 12px;
}

.kavholm::before,  
.kavholm::after,  
.commercial::before,  
.commercial::after,  
.jane-diaz::before,  
.jane-diaz::after {  
    content: ' ';  
    position: absolute;  
    left: 0;  
    right: 0;  
    top: 0;  
    bottom: 0;  
}  
.frame-text::before {  
    background: #000000;  
    animation: typing-text 3s steps(10) infinite;  
}  

.frame-text::after {  
    width: 1px;  
    background: white;  
    animation:   
        typing-text 3s steps(10) infinite,  
        writing 900ms steps(10) infinite; 
}  

@keyframes typing-text{  
    to{  
        left: 100%;  
    }  
}  

@keyframes writing {  
    0% ,99.9%{  
        background: white;  
    }  
    100%{
        background: transparent;
    }
}  

/* //////////////////////////////////////
/////////////second card ////////////////
////////////////////////////////////// */

.card-2-assembled{  
    position: relative;  
    width: 349px;  
    height: 215.26px;  
    border-radius: 14px;  
    background-color: #27BB86;  
    overflow: hidden;  
    box-shadow: -2px 2px 73px -14px;
    top: -103px;
}  

.card-2-assembled .rocket-rides {  
    position: absolute;  
    right: 0;  
    margin-right: 28px;  
    margin-top: 27px; 
}  

.card-2-assembled .visa-text {  
    position: absolute;  
    bottom: 16.3px;  
    right: 13.5px;  
}  

.card-2-assembled .commercial {  
    position: absolute;  
    font-family: sans-serif;  
    font-weight: 700;  
    letter-spacing: 0.4px;  
    bottom: 74px;  
    right: 12px;  
    color: #fff;  
    font-size: 12px;  
}  

.card-2-assembled .lucian{  
    position: absolute;  
    font-family: 'DM Sans';  
    font-weight: 500;  
    letter-spacing: 0.1px;  
    bottom: 26px;  
    left: 28px;  
    color: #fff;  
    font-size: 12px;  
}  

.wawes-animation {   
    width:100%;  
    position:absolute;  
    bottom:0;  
    left:0;  
    background: #015871;  
  }  
  
  .wave {  
    background: url(/cards/wave.png) repeat-x;   
    position: absolute;  
    width: 64000px;  
    height: 198px;  
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;  
    transform: translate3d(0, 0, 0);  
    opacity: 0.8;  
  }  
  
  .wave1 {  
    top: -198px;  
  }  
  .wave2 {  
    top: -188px;  
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;  
    opacity: 1;  
  }  
  .wave3 {  
      top: -178px;  
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.25s infinite;  
  }  
    .wave4 {  
        top: -168px;  
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.375s infinite;  
  }  
    .wave5 {  
        top: -158px;  
       animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.50s infinite;  
  }  
    .wave6 {  
        top: -148px;  
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.625s infinite;  
  }  
    .wave7 {  
       top: -138px;  
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.75s infinite;  
  }  
      .wave8 {  
        top: -128px;  
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.875s infinite; 
  }  
      .wave9 {  
       top: -118px;  
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -1s infinite;
  }  
    .wave10 {  
        top: -108px;  
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -1.125s infinite; 
  }  
    .wave11 {  
        top: -100px;  
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -1.25s infinite;
    opacity: 1;  
  }  
  
  @keyframes wave {  
    0% {  
      margin-left: 0;  
    }  
    100% {  
      margin-left: -1400px;  
    }  
  }  
  

/* //////////////////////////////////////
///////////// third card ////////////////
////////////////////////////////////// */

.card-3-assembled{
    position: relative;
    overflow: hidden;
    width: 349px;
    height: 215.26px;
    border-radius: 14px;
    background-color: #ffffff;
    box-shadow: -2px 2px 73px -14px;
    bottom: 218px;
}
.card-3-assembled .powdur {
    position: absolute;
    right: 0;
    margin-right: 28px;
    margin-top: 27px;
}

.card-3-assembled .visa-text-black {
    position: absolute;
    bottom: 16.3px;
    right: 13.5px;
}



.card-3-assembled .namara{
    position: absolute;
    font-family: 'DM Sans';
    font-weight: 500;
    letter-spacing: 0.1px;
    bottom: 26px;
    left: 28px;
    color: #000000;
    font-size: 12px;
}

.ball{
    overflow: hidden;
    position: absolute;
    top: -29px;
    left: -29px;
    border-radius: 42% 56%72%28% / 42% 42% 56% 48%;
    background-color: #93d0b2af;
    background-size: cover;
    background-position: center;
    animation: morph 2.75s linear infinite;
}

.ball-1 {  
    top: -29px;  
    left: -29px;  
    width: 165px;  
    height: 175px;  
  }  
  
  .ball-2 {  
    top: 10px;
    left: 311px;
    height: 150px;
    width: 150px; 
    animation-delay: .5s; 
  }  
  
  .ball-3 {  
    top: 181px;
    left: 139px;
    height: 80px;
    width: 80px;
    animation-delay: 1.5s;
  }  
  
  .ball-4 {  
    top: 27px;
    left: 106px;
    width: 90px;
    height: 100px; 
    animation-delay: 2s;
  }  

@keyframes morph {
    0%,
    100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}

/* //////////////////////////////////////
///////////// sector  2  ////////////////
////////////////////////////////////// */

.sector-2{
    display: flex;  
    flex-direction: row;  
    gap: 9.9375rem;  
    margin-left: 26.25rem;
}

.text-wrapper-sector2{
    margin-top: 17.4688rem;
    max-width: 33.75rem;
    max-height: 29.8125rem;
}

.sector2h2{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 35.77px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-top: 1rem;
}

.sector2p{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16.59px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #425466;
    margin-top: 1.5rem;
}

.sector2-arrow{
    position: absolute;
    top: 10px;
    right: 17px;
}

.sector2-btn{
    position: relative;
    padding: 3px 26.8px 6px 16px;
    background: #635BFF;
    border: 1px;
    border-radius: 16.5px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13,48px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
    margin-top: 1.6875rem;
}

.sector2-links-header{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14.18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-top: 3.5rem;
}

.sector2-links-1{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
margin-top: 0.5rem;

}

.sector2-links-1 > a{
    text-decoration: none;
}

.sector2-links-2{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-top: 0.25rem;
}

.sector2-links-2 > a{
    text-decoration: none;
}

.sector2-links-3{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 13.71px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0A2540;
    margin-top: 0.25rem;
}

.sector2-links-3 > a{
    text-decoration: none;
}

/* ====sector 2 form=== */


.form-container {
    position: relative;
    width: 246.7px;
    height: 518.51px;
    padding: 15px;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 12.725rem;
}

.product-info {
    margin-top: 5px;
}

.product-img img {
    width: 50px;
    height: auto;  
    border-radius: 8px;
    margin-bottom: 5px;
}

.product-name {
    font-size: 10px;
    font-weight: 500;
    color: #727F96;
    margin-top: 5px;
}

.product-price{
    font-size: 14px;
    font-weight: 500;
    color: #0A2540;
    margin: 5px 0;
}

.pay-btn{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 8px 0;
}

.link-separator{
    width: 1px;
    height: 15px;
    background: #1AC59B;
}

.pay-button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    height: 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
}

.pay-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    height: 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    background: #33DDB3;
    gap: 5px;
}

.pay-button1{
    background: #000;
}

.pay-stick{  
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727F96;
    font-size: 9px;
    white-space: nowrap;
}
.pay-stick .left-hr{
    border: none;
    border-top: 1px solid #0a254036;
    width: 64px;
    margin: 15px 3px 16px 7px;
}

.pay-stick .right-hr{
    border: none;
    border-top: 1px solid #0a254036;
    width: 64px;
    margin: 15px 7px 16px 3px;
}

form{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}

.form-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form-group label{
  font-size: 10px;
  margin-bottom: 2px;
  color: #4a5568;
  font-weight: 500;
}

.form-group input, .form-group select{
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 11px;
    color: #2d3748;
    outline: none;
    height: 23.39px;
    margin-bottom: 5px;
}

.form-group .country-holder:first-child{
    margin-top: 9px;
}

.form-group select{
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px;
    padding-right: 20px;
    margin-top: 5px;
}

.card-details{
    display: flex;
    gap: 6px;
    position: relative;
    align-items: center;
}
.card-details input {
    flex: 1;
}
.card-details span {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    font-weight: 600;
    color: #2d3748;
}

.visa-icon{
    font-size: 9px;
    color: #4a5568;
    font-weight: 600;
}
.secure-icon{
  font-size: 9px;
  color: #4a5568;
  background-color: #e0e0e0;
  padding: 1px;
  border-radius: 2px;
}
.card-row{
  flex-direction: row;
  gap: 6px;
}

.card-row input:first-child {
    max-width: 30%;
}

.card-row input:last-child {
    max-width: 70%;
}

.submith-button {
    width: 100%;
}

.submith {
    width: 100%;
    background: #1A3353;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}






