*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-container{
    width: 300px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment-sms {
    background-color: #f8f8f8;  
    border-radius: 10px;  
    padding: 10px;  
    margin-bottom: 20px;  
    width: 100%;  
}  
.top-card-header {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    margin-bottom: 10px;  
}  
.top-card-status {  
    display: flex;  
    justify-content: left;  
}  
.id {  
    color: gray;  
    font-size: 0.9rem;  
}  
.name {  
    font-weight: bold;  
}  
.price {  
    font-weight: bold;  
}  
.processing {  
    background-color: lightgreen;  
    color: darkgreen;  
    font-size: 0.8rem;  
    padding: 5px 8px;  
    border-radius: 5px;  
}  
.dashed-container {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    padding: 10px;  
    border: 2px dashed lightgray;  
    border-radius: 20px;  
}  
.button-container {  
    display: inline-block;  
    padding: 2px;  
}  
.button {  
    padding: 10px 20px;  
    background-color: dodgerblue;  
    color: white;  
    border-radius: 30px;  
    text-align: center;  
}  
.button.platform {  
  background-color: #38E2C5;  
}  
.amount {  
    margin-top: 10px;  
    margin-bottom: 10px;  
}  
.arrows {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    margin-top: 5px;  
    margin-bottom: 5px;  
}  
.arrow {  
    width: 0;  
    height: 0;  
    border-left: 5px solid transparent;  
    border-right: 5px solid transparent;  
    border-top: 8px solid lightgray;  
    margin-bottom: 3px;  
}