*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-cont-wrapper{
    width: 438px;
    height: 342.53px;
    box-shadow: 0px 24.33px 48.67px -24.33px;
}

.logo-text-holder{
    position: relative;
    width: 16.22px;
    height: 16.22px;
    display: flex;
    gap: 5.68px;
    margin-left: 22.71px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 9.64px;
    line-height: 17.03px;
    color: #3F4B66;
}

.logo-text-holder a{
    text-decoration: none;
    color: #3F4B66;
}

.circle-logo{
    position: absolute;
    bottom: 4px;
    right: 3px;
}

.stick-logo{
    position: absolute;
    bottom: 2px;
    right: 5px;
}

.dot-logo{
    position: absolute;
    right: 6px;
    top: 6px;
}

.subscribe-navigation{
    width: 438px;
    height: 42.99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0000001c;
}

.subscribe-nav{
    display: flex;
    gap: 13.79px;
    margin-right: 22.71px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 8.09px;
    line-height: 11.36px;
}

.subscribe-nav a{
    text-decoration: none;
    color: #3F4B66;
}

.column-wrapper{
    display: flex;
    justify-content: center;
    gap: 8.11px;
    margin: 0px 7.73px 12.77px 7.73px;
    cursor: pointer;
}

.column1, .column2, .column3{
    width: 135.46px;
    height: 280.64px;
    display: flex;
    flex-direction: column;
    margin: 17.84px 13.79px;
}

.column-wrapper > div{
    width: 135px;
    height: 278px;
}

.column-wrapper > div:hover{
    background-color: #9966ff0f;
    transform: scale(1.03);
    transform: translateY(5px);
    transition: .3s ease;
}

.column-header-h3{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 11.03px;
    line-height: 17.03px;
    color: #3F4B66;
}

.users-info{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 8.23px;
    line-height: 12.98px;
    color: #3F4B66;
    margin: 5px 0px;
}

.users-info-bot{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 8.23px;
    line-height: 12.98px;
    color: #3F4B66;
    margin-top: 14.03px;
}

.price-per-month{
    display: flex;
    justify-content: flex-start;
    align-items:baseline;
}

.price{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17.29px;
    line-height: 25.14px;
    color: #3F4B66;
}

.month{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 8.36px;
    line-height: 11.36px;
    color: #3F4B66;
}

.subscribe-btn{
    width: 107.88px;
    height: 27.17px;
    border-radius: 3.24px;
    color: #fff;
    background: #9966FF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 8.36px;
    line-height: 14.6px;
    border: none;
    margin-top: 13px;
    transition: .3s ease;
    cursor: pointer;
}

.subscribe-btn:hover{
    box-shadow: 5px 5px 5px 5px;
    transform: scale(1.03);
}

.includes{
    width: 95px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 8.09px;
    line-height: 11.36px;
    color: #3F4B66;
    display: flex;  
    flex-direction: column;  
    gap: 12px;
}

.includes > div {  
    display: flex;  
    align-items: center; 

}

.absolute-check{
    position: relative;
    top: -4px;
}

.includes img{
    width: 5px;  
    height: 5px;  
    margin-right: 5px;  
    background: #9966ff2f;  
    border: 2px solid #9966ff00;  
    border-radius: 50%; 
}


